
* {box-sizing: border-box;}

body {
    font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 200%;
}

.container {
    max-width: 100%;
    overflow: hidden;
}

header, main {
    overflow: hidden;
}

.icon {
    height: 40px;
    width: 40px;
    margin: 10px;
}

#naglowek {
    max-width: 100%;
    overflow: hidden;
    background-color: #828081;
}

#naglowek > p, nav {
    display: inline;
    height: inherit;
}

#naglowek > p {
    float: left;
    color: aliceblue;
    padding-left: 3%;
    padding-top: 2%;
    font-size: 16pt;
}

#naglowek > nav {
    float: right;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#menu > li {
    display: inline;
}

#menu > li > a {
    text-decoration:none;
    color: aliceblue;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
}

#menuKontakt {
    float: right;
}

li a:hover {
    background-color: #3cc47c;
}

h3, p {
    margin-left: 10px;
}

#divSecOMnie, #divSecPortfolio, #divSecHobby, #kontakt {
    overflow:hidden; /*to zlikwidowało odstępy między divami*/
}

#divSecOMnie {
    background-color: #e9c893;
}

#divSecPortfolio {
    background-color: #3cc47c;
}

#divSecHobby {
    background-color: #828081;
}

.blok {
    display: inline;
    width: 50%;
    height: auto;
    float: left;
}

#kontakt {
    background-color: #3cc47c;
}

#linkKontakt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    background-color: #e9c893;
    text-align: center;
}

address {
    padding: 10px;
}

.freepik {
    text-align: center;
    padding: 10px;
}