.all {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

main {
    margin-top: 66px;
}

/*style dla header*/
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header .site-logo {
    font-family: 'Pacifico', cursive;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    margin: 10px;
}

.site-header .main-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.site-header .main-menu-item a {
    text-decoration: none;
    color: #fff;
    background-color: #b54328;
    padding: 10px 20px;
    margin-right: 25px;
    display: block;
    font-size: 18px;
    border-radius: 10px;
}
/*koniec styli dla header*/

.section-start {
    background: url("images/header-photo.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.section-start .container {
    display: flex;
    align-items: center;
}

.section-start .section-start-motto {
    margin: 50px;
    padding: 20px;
    background-color: rgba(143, 143, 143, 0.7);
    border-radius: 30px;
    max-width: 800px;
    color: #fff;
}


.section-start .section-start-title {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.section-start .section-start-text {
    margin: 30px 0;
    font-size: 30px;
}

.section-start .section-start-button {
    margin: 30px 0;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}






/*header {*/
    /*background: url("images/header-photo.jpg") no-repeat center center;*/
    /*background-size: cover;*/
    /*height: 80vh;*/
    /*color: #ffffff;*/
    /*text-shadow: 0 0 10px #000000;*/
/*}*/

/*.toolbar {*/
    /*overflow: hidden;*/
/*}*/

/*.logo, .menu {*/
    /*float: left;*/
/*}*/

/*.logo {*/
    /*padding: 20px;*/
/*}*/

/*.menu {*/
    /*float: right;*/
/*}*/

/*li {*/
    /*display: inline;*/
    /*padding: 10px;*/
/*}*/

/*ul {*/
    /*padding: 20px;*/
    /*margin: 0;*/
/*}*/

/*.toolbar a, h1, h2 {*/
    /*color: #ffffff;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
/*}*/

/*.motto {*/
    /*padding: 60px 40px;*/
/*}*/

/*.motto a {*/
    /*text-decoration: none;*/
    /*color: #ffffff;*/
/*}*/
/*koniec: style dla header*/

.function {
    float: left;
    height: 25vh;
    width: 23%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    box-shadow: 0 -2px 18px 0 rgba(72,89,102,.25);
    border-radius: 10px;
}

.icon {
    width: 25%;
    height: 15vh;
}

.function > .icon {
    margin: 1% auto; /*auto: ten zapis wyśrodkował obrazki w elemencie, patrz
    http://www.creamsoft.com/blog/jak-wysrodkowac-element-na-stronie-www-za-pomoca-css-odpowiedz-na-wszystkie-pytania.html*/
}

#freepik {
    float: left;
    width: 100%;
    font-size: smaller;
    text-align: center;
}