.all {
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

/*style dla header*/
header {
    background: url("images/header-photo.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
}

.toolbar {
    overflow: hidden;
}

.logo, .menu {
    float: left;
}

.logo {
    padding: 20px;
}

.menu {
    float: right;
}

li {
    display: inline;
    padding: 10px;
}

ul {
    padding: 20px;
    margin: 0;
}

.toolbar a, h1, h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.motto {
    padding: 60px 40px;
}

.motto a {
    text-decoration: none;
    color: #ffffff;
}
/*koniec: style dla header*/

#function-short {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.function {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 18px 0 rgba(124,123,128,.25);
    border-radius: 10px;
    padding: 10px;
    height: 25vh;
    width: 21%;
    margin: 1%;
    /* kod sprzed flex-boxa:
    float: left;
    display: inline-block;
    }*/
}

.icon {
    width: 25%;
    height: 15vh;
}

.function > .icon {
    margin: 1% auto; /*auto: ten zapis wyśrodkował obrazki w elemencie, patrz
    http://www.creamsoft.com/blog/jak-wysrodkowac-element-na-stronie-www-za-pomoca-css-odpowiedz-na-wszystkie-pytania.html*/
}

.icon > img {
    width: 100%;
}

#freepik {
    float: left;
    width: 100%;
    font-size: smaller;
    text-align: center;
}